Basic Calculationss and Naming conventions

in 2023

In [1]:
## calcuate here Trina's share of the rent
700 / (900 + 1_200 + 700) * 100

25.0

In [2]:
alfred_monthly_23 = 900
fatima_monthly_23 = 1_200
trina_monthly_23 = 700

In [3]:
## can also assuign lie this: 
alfred_m, fatima_m, trina_m = 900, 1_200, 700

In [4]:
## call variables
alfred_m
fatima_monthly_23
trina_m

700

In [5]:
## calculate trina's share in variables
trina_share_23 = trina_monthly_23 / (alfred_monthly_23 + fatima_monthly_23 + trina_monthly_23) * 100
trina_share_23

25.0

In [6]:
## easier to read
trina_share_23 = \
trina_share_23 = trina_monthly_23 / (alfred_monthly_23 + \
                                     fatima_monthly_23 + \ 
                                     trina_monthly_23) * 100
trina_share_23

SyntaxError: unexpected character after line continuation character (3085404407.py, line 4)

In [ ]:
## call it
trina_share_23,

In [ ]:
## print function

print ("hello")

In [10]:
## print variables
print (alfred_monthly_23)
print (fatima_monthly_23)
print (fatima_monthly_23, alfred_monthly_23)

900
1200
1200 900

In [12]:
## using f-string
## print total al of the monthly rents 
print(f"trina's rent: ${trina_monthly_23} ")
print(f"trina pays {trina_share_23} percent of th total rent")

trina's rent: $700
trina pays 25.0 percent of th total rent

In [14]:
## f-string 

print (f"the total monthly rent is \
${alfred_monthly_23 + fatima_monthly_23 + trina_monthly_23}")

the total monthly rent is $2800