Basic Calculationss and Naming conventions

in 2023

In [2]:
## calcuate here Trina's share of the rent
700 / (900 + 1_200 + 700) * 100

25.0

In [3]:
alfred_monthly_23 = 900
fatima_monthly_23 = 1_200
trina_monthly_23 = 700

In [4]:
## can also assuign lie this: 
alfred_m, fatima_m, trina_m = 900, 1_200, 700

In [7]:
## call variables
alfred_m
fatima_monthly_23
trina_m

1200

In [11]:
## calculate trina's share in variables
trina_share_23 = trina_monthly_23 / (alfred_monthly_23 + fatima_monthly_23 + trina_monthly_23) * 100
trina_share_23

25.0

In [15]:
## easier to read
trina_share_23 = \
trina_share_23 = trina_monthly_23 / (alfred_monthly_23 + \
                                     fatima_monthly_23 + \ 
                                     trina_monthly_23) * 100
trina_share_23

SyntaxError: unexpected character after line continuation character (3085404407.py, line 4)

In [16]:
## call it
trina_share_23,

25.0